* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.375em 0.5em 1.375em 0.5em;
}

.logo-text {
  font-family: poppins, sans-serif;
  font-size: 1.125em;
  color: #6070ff;
  font-weight: 700;
  text-align: center;
  line-height: 20px;
}

body {
  background-image: url(./images/header-shapes\ mobile@2x.svg);
  background-position-y: -28.875em;
  background-color: #fff;
  min-height: 100vh;
  margin: 0 24px;
}

.about {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 0;
}

.description {
  font-weight: 300;
}

.supporting-text-container {
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.suporting-text {
  color: #7f8cff;
}